

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

  }
 

  .header h1{
      text-align: center;
      font-size:100px;
      background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
  }

  .border{
      text-align: center;
      width: 50%;
      justify-content: center;
      
  }
  .header{
      color:white;
      height: auto;
      margin:0;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }
.header h3{
    color: lightblue;
}
.menu-container .info{
   font-size: 40px;
}
.menu-container-wrapper{
    display: flex;
    border-style:ridge;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: linear-gradient(270deg, #007af1, #f23010);
    padding: 10px;
    gap: 20%;

}

.menu-container-wrapper a{
    text-decoration: none;
    font-size: 30px;
    color:white;

}

.menu-container-wrapper a:hover{
  text-shadow: 0 0 5px yellow;
}
  .middle{
      height:auto;
      display: flex;
      padding: 20px;
      width: 100%;
      margin: auto;
      margin-right: 150px;
      margin-left: 100px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 50px;
        }
.skills{
    background: linear-gradient(270deg, #007af1, #f23010);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 75px;
    margin-bottom: 50px;
    width:40%;
    align-items: center;
}
.middle h1{
    margin: auto;
    color: white;
    font-size: 50px;;
} 
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects p{
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  ul li{
      margin: 10px;
      padding: 10px;
  }
  

  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid red;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: loader-inner 10s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  img{
    width:78px;
    height:110px;
  }

  footer{
    height: 70px;
    display: flex;
    background:  linear-gradient(270deg, #007af1, #f23010);
    width:100%;
    margin-bottom: 0%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  footer a{
    color: white;
  }

  .wrapper{
    background: linear-gradient(270deg, #007af1, #f23010);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 75px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }
 
  .skill-level{
    padding: 20px;
    color: white;
  }
.skill-bar{
  height: 14px;
  background:rgb(66, 64, 64);
  border-radius: 30px;
  
}
  .skill-per{
    height: 14px;
    background: yellow;
    position: relative;
    animation: fillBars 3s 1;
    border-radius: 30px;

  }

  .levels{
    width: 50%;
    padding: 0 20px;
    background: linear-gradient(270deg, #007af1, #f23010);
    border-radius: 30px;
  }

  .skill-name{
    padding: 10px;
    padding-left: 0px;
  }

  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: black;
    border-radius: 4px;
    font-size: 20px;
    top: -60px;
    right:0;
    transform: translateX(50%);
    color: white;
    border-style:double;
    border-color:  blue;
  }

  .skill-per::after{
    content:"";
    position: absolute;
    width:10px;
    height:10px;
    background-color: white;
    top: -20px;
    right: 0;
    transform: translate(50%) rotate(45deg);
    border-radius: 2px;
  }

  @keyframes fillBars{
    from{
      width:0;
    }
    to{
      width:100%;
    }
  }