*{
  margin: 0;
  padding:0;
}
body {
    margin: 0;
    padding: 0;
    
    background-color: black; 
    height: 100vh;
    width: 100%;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    margin: 0;

  }
.nav-item{
  font-family: 'Montserrat', sans-serif;
}
  .navbar-custom{
    background-color: black;
    padding: 10px;
  }
 #section-1{
  padding: 10px;
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
 }
  /* #section1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
  }

  
     */


#section-1 p{
  width: 50%;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: 33px;
}

.navbar-brand img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: black;

}

#section-1 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
}
 #section-2{
  display: flex;
  height:100vh;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;

} */

 #section-2 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  }

#section2 p{

}
#section3{
   height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */

#section3 h1{
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  background-color: rgb(53, 52, 52);
}

.nav-item a{
  color: #fff;
}

.nav-item a:hover{
  color: rgb(0, 4, 255);
}

.skills{
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 75px;
  margin-bottom: 50px;
  width:40%;
  align-items: center;
}
.skills ul li{
  list-style: none;
  padding: 20px;
}
.skills ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1;
}
.skills  img{
  width:78px;
  height:110px;
}
.projects{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  
}

.project h3{
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.project{
  display: flex;
  flex-direction: row;
}

.project img{
  height:300px;
  width:300px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}

.project .photo{
  display: flex;
  flex-direction: column;
}

.project .info{
  width: 400px;
  align-items: center;
  text-align: center;
} 

.navbar-toggler img{
  height: 25px;
  width:25px;
}

  /* .header h1{
      text-align: center;
      font-size:100px;
      background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
  }

  .border{
      text-align: center;
      width: 50%;
      justify-content: center;
      
  }
  .header{
      color:white;
      height: auto;
      margin:0;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .header h2{
    color: black;
  }

  .header p{
    color: black;
    font-size: 30px;
    text-overflow: none;
    max-width: 60%;
  }
.header h3{
    color: lightblue;
}

  .middle{
      height:auto;
      display: flex;
      padding: 20px;
      width: 100%;
      margin: auto;
      margin-right: 150px;
      margin-left: 100px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 50px;
        }
.skills{
    background: rgb(51, 102, 153);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 75px;
    margin-bottom: 50px;
    width:40%;
    align-items: center;
}
.middle h1{
    margin: auto;
    color: white;
    font-size: 50px;;
} 
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects p{
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  ul li{
      margin: 10px;
      padding: 10px;
  } */
  
  
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid blue;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: loader-inner 10s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  /* img{
    width:78px;
    height:110px;
  } */

  footer{
    height: 70px;
    display: flex;
    background:  rgb(51, 102, 153);
    width:100%;
    margin-bottom: 0%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

 @media only screen and (max-width:1280px){
  #section-1{

  } 
#section-1 p{
font-size:14px;
width: 80%; 
}

#section-1 h1{
 font-size: 20px;
}
#section-2 h1{
  font-size: 20px;
 }
 .projects .project img{
  width:80px;
  height:80px;
}
.navbar-toggler img{
  height: 20px;
  width:20px;
}
 } 

 

 /* @media only screen and(min-width:1) {
  #section1 p{
    font-size:1px; 
    }
 } */